// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";


$navy-blue: #253D5B;
$white: #ffffff;
$secondary: #F5D3C8;
$muted: #5C9EAD;
$gray: #747675;

body,
html {
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
}

body {
  background-color: $navy-blue;
  color: $white;
}

.page-container {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.text-secondary {
  color: $secondary;
}

.text-muted {
  color: $muted;
}

.brand-info {
  > div {
    @media (min-width: 768px) {
      display: table-cell;
      float: none;
      vertical-align: middle;
    }

    @media (max-width: 768px) {
      &:last-child {
        margin-top: 2rem;
      }
    }
  }
}

.brand-title {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 0;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.heading {
  @media (max-width: 768px) {
    text-align: center;
  }
}

.brand-image {
  display: inline-block;
  height: auto;
  max-width: 200px;
  width: 100%;
}

.availability {
  margin-bottom: 2rem;
  margin-top: 2rem;

  > div {
    margin-top: 1rem;
  }
}

.border-top {
  border-top-width: 1px;
  border-top-color: $muted;
  border-top-style: solid;
  padding-top: 1.5rem;

  &--dashed {
    border-top-style: dashed;
  }
}

.disclaimer {
  margin-top: 2rem 0;
}

.margin-none {
  margin: 0 !important;
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
